{# templates/backEnd/circuitshow.html.twig #}
{#
  {{ dump(circuit) }}
#}
<!DOCTYPE html>
<html>
<head>
  <title>Details pour le circuit {{ id }}</title>
  <link rel="stylesheet" href="../../templates/CSS/detail.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body>
  <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
        <p class="navbar-text" style="font-size:30px; margin: 0">A&A Voyages</p>
        <i class="material-icons navbar-text" style="font-size:30px; margin: 10px">explore</i>
    </div>
    <ul class="nav navbar-nav menu">
      <li><a href="{{ path('circuitslistclient') }}" style="font-size:20px">Menu</a></li>
      <li><a href="#" style="font-size:20px">Nos Destinations</a></li>
      <li><a href="#" style="font-size:20px">Nos promotions</a></li>
      <li><a href="#" style="font-size:20px">Nous contacter</a></li>
    </ul>
  </div>
  </nav>



 <div class="container">
  <div style="margin-top:100px">
    <h2 class="titre">{{ circuit.description}} </h2>
    <h2 class="titre" style="font-size:35px">Détails du circuit</h2>
    <div class="panel panel-default well">
        <h3>Etapes</h3>
        <ol>
          {%  for etape in circuit.etapes %}
            <li>{{ etape.villeEtape }}, étape de {{ etape.nombreJours }} jour(s).</li>
          {% endfor %}
        </ol>
      </div>
  </div>
</div>

  
<div class="container">
  <div class="row text-center text-lg-left">
  {% if circuit.programmations is not empty %}
  <h2 class="titre" style="font-size:35px">Programmations de ce circuit</h2>
  {# <pre>{{ dump(circuit) }}</pre> #}
      <table class="table table-striped text-center">
          <thead>
              <tr>
                  <th class="text-center">Date de départ</th>
                  <th class="text-center">Nombre de personnes</th>
                  <th class="text-center">Prix</th>
              </tr>
            </thead>
        {%  for programmation in circuit.programmations %}
          {% if "now"|date('Y-m-d')  < programmation.dateDepart()|date('Y-m-d') %}
            <tr>
               <td>{{ programmation.dateDepart|date('d-m-Y')  }}</td>
               <td>{{ programmation.nombrePersonnes }}</td>
               <td>{{ programmation.prix }} euros</td>
            </tr>
          {% endif %}
        {% endfor %}
        </table>
    {% else %}
    <p>Désolé : pas encore de programmations pour ce circuit.</p>
    {% endif %}
  </div>
</div>
</div>
</body>
</html>
